/* ----- Google Font Links ------ */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* ----- Common CSS ------ */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
/* ----- Header Section ------ */
#banner{
    width: 100%;
    padding: 50px 0 120px 0;
}
.banner_container{
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    background: url('../images/bannar.png'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner_overley{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    padding: 177px 344px;
}
.banner_text h3{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}
.banner_text h1{
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    line-height: 95px;
    color: #fff;
    text-align: center;
}
/* ---- Discount Section ----- */
#discount{
    width: 100%;
    padding-bottom: 120px;
}
.discount_container{
    max-width: 1320px;
    margin: 0 auto;
}
.discount_text h2{
    font-size: 88px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    text-align: center;
}
.discount_text h6{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    text-align: center;
    margin: 48px 0 16px 0;
}
.discount_text h4{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #070211;
    text-align: center;
    margin-bottom: 50px;
}
.discount_img {
    width: 800px;
    margin: 0 auto;
}
/* ----- Welcome Section ----- */
#welcome{
    width: 100%;
    margin-bottom: 120px;
}
.welcome_container{
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    background: url('../images/vectory.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.welcome_overley{
    width: 100%;
    height: 100%;
    padding: 70px 135px 70px 125px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welcome_text{
    max-width: 700px;
}
.welcome_text h2{
    font-size: 64px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    line-height: 88px;
    letter-spacing: 7px;
    color: #fff;
}
.welcome_text p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 30px;
    color: #fff;
    margin: 25px 0 35px 0;
}
.btn{
    padding: 15px 30px;
    background: #FF0000;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s all linear;
}
.btn:hover{
    color: #FF0000;
    background-color: transparent;
    border: 2px solid #FF0000;
    transform: scale(1.05);
}